@import '../../styles/settings.scss';
@import '../../styles/tools.scss';

.root {
  position: relative;
}

.rootNavOpen {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.contentWrapper {
  background: t-colour(General, ContentWrapper);
}

.skipToMain {
  @include t-layer(sub);

  bottom: auto;
  height: t-rem(1px);
  left: t-rem(9999px);
  overflow: hidden;
  position: absolute;
  width: t-rem(1px);

  &:focus {
    @include t-layer(top);

    background: t-colour(General, ContentWrapper);
    height: auto;
    left: 0;
    padding: t-rem(10px);
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 0;
    width: auto;
  }
}
