/* ==========================================================================

    Colours

    We've created two sass maps to handle colours in the project:

    $s-colours is essentially mapping hex codes to friendly colour names

    $s-colour is a mapping colours for $s-colours to specific,
    description component names.

========================================================================== */

$s-colours: (
  black: #000,
  grey: #666,
);

$s-colour: (
  General: (
    Background: map-get($s-colours, black),
    Copy: map-get($s-colours, grey),
  ),
);
