@import '../settings.scss';
@import './layouts.scss';

@mixin title($noMargin: false) {
  font-size: $s-base-font-size*4;
  line-height: $s-base-font-size*4;

  @if $noMargin {
    margin: 0;
  }
  @else {
    margin: 0 0 t-spacing(vertical);
  }
}

@mixin Copy {
  font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
}

@mixin CopyBold {
  font-family: 'open_sansbold', Arial, Helvetica, sans-serif;
}
